@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins.scss' as mixins;
@use '../../styles/breakpoints.scss' as breakpoints;

.container {
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$spacing-lg;
}

.welcome {
  width: 100%;
  min-height: calc(100vh - variables.$navbar-height);
  border-left: 1px solid variables.$border-muted;
  border-right: 1px solid variables.$border-muted;
  border-bottom: 1px solid variables.$border-muted;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: variables.$spacing-lg;


  .w-description {
    text-align: center;

    h1 {
      font-size: 48px;
    }

    span {
      font-size: 25px;
    }
  }

  .w-actions {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-base;

    .linkedin-button {
      a {
        color: rgb(3, 147, 227);
      }
    }
  }
}

.about-me {
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: variables.$container-xl;
  gap: variables.$spacing-md;
  padding: variables.$padding-sm;


  .am-img {
    height: 250px;
    width: 250px;
    // background-color: blue;
    order: 2;
  }

  .am-description {
    flex: 1;
    // background-color: brown;
    order: 1;
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
  }
}

.programming-languages {
  // background-color: green;
  display: flex;
  gap: variables.$spacing-md;
  justify-content: center;
  width: 100%;
  max-width: variables.$container-xl;
  align-items: center;
  flex-direction: column;
  padding: variables.$padding-md;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacing-lg;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: variables.$spacing-base;
      width: 80px;
    }
  }

  .language-icon {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }

  .pl-description {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
    order: 1;
    flex: 1;
    // background-color: brown;
  }

  .pl-language-list {
    display: flex;
    justify-content: center;
    // background-color: blue;
    width: calc(160px + (variables.$spacing-lg * 2));
    order: 2;
  }
}

.frameworks {
  // background-color: green;
  display: flex;
  gap: variables.$spacing-md;
  justify-content: center;
  width: 100%;
  max-width: variables.$container-xl;
  align-items: center;
  padding: variables.$padding-md;
  flex-direction: column;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacing-lg;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: variables.$spacing-base;
      width: 80px;
    }
  }

  .fm-icon {
    height: 60px;
    width: 60px;
  }

  .fm-description {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
    order: 1;
    flex: 1;
    // background-color: brown;
  }

  .fm-list {
    display: flex;
    justify-content: center;
    // background-color: blue;
    width: calc(160px + (variables.$spacing-md * 2));
    order: 2;
  }
}


.experience {
  // background-color: blue;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  width: 100%;
  max-width: variables.$container-xl;
  padding: variables.$padding-md;

  .exp-description {
    // background-color: green;
    min-width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: variables.$spacing-md;
  }

  .exp-items {
    // background-color: brown;
    flex-direction: column;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: variables.$spacing-md;
    }

    .exp-card {
      padding: variables.$padding-sm;
      display: flex;
      flex-direction: column;
      gap: variables.$spacing-base;

      .ec-title {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: variables.$spacing-base;

        .ec-business-img {
          display: flex;
          justify-items: center;
          align-items: center;
        }

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }

      .ect-info {
        display: flex;
        width: 100%;
        flex-direction: column;

      }
    }
  }
}

.my-projects {
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: variables.$container-xl;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacing-md;
    background-color: brown;
    // width: calc(360px + variables.$spacing-md);

  }

  .mp-frame {
    background-color: yellow;
    width: 250px;
    height: 280px;
  }
}

.aspirations {
  background-color: brown;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: variables.$container-xl;
}

@include mixins.respond-to(breakpoints.$breakpoint-md) {
  .main-content {
    width: 100%;
  }

  .welcome {

    .w-actions {
      flex-direction: row;
    }
  }

  .about-me {
    padding: variables.$padding-lg;
    width: 80%;
    flex-direction: row;

    .am-img {
      order: 1;
    }

    .am-description {
      order: 2;
    }
  }

  .programming-languages {
    flex-direction: row;
    padding: variables.$padding-lg;
    width: 80%;

  }

  .frameworks {
    flex-direction: row;
    width: 80%;

    .fm-list {
      order: 1;
    }

    .fm-description {
      order: 2;
    }
  }

  .experience {
    flex-direction: row;
    padding: variables.$padding-lg;
    width: 80%;

    .exp-card {

      max-width: variables.$container-xs;
    }
  }

  .aspirations {
    padding: variables.$padding-lg;
  }
}

@include mixins.respond-to(breakpoints.$breakpoint-lg) {

  .programming-languages {
    .pl-language-list {
      width: calc(240px + (variables.$spacing-lg * 2));
    }
  }

  .frameworks {
    flex-direction: row;

    .fm-list {
      width: calc(240px + (variables.$spacing-lg * 2));
    }
  }



}
