<div class="container">
  <div class="main-content">
    <section class="welcome">
      <div class="w-description">
        <h1>Angel Adrian</h1>
        <span class="t-subtle">Software Engineer</span>
      </div>
      <div class="w-actions">
        <button class="button bordered linkedin-button">
          <img src="/images/linkedin-original.svg" class="icon-sm" />
          <a href="https://www.linkedin.com/in/%C3%A1ngel-adri%C3%A1n-camal-garc%C3%ADa-4058231a3/"
            class="t-no-deco">LinkedIn</a>
        </button>
        <button class="button bordered">
          <img src="/images/github-original.svg" class="icon-sm">
          <a href="https://github.com/adrianc68" class="t-no-deco">GitHub</a>
        </button>
        <button class="button primary">
          Contactar
        </button>
      </div>
    </section>

    <section class="about-me card">
      <div class="am-description">
        <h2>Sobre mí</h2>
        <p>
          Mi nombre es Ángel Adrián. Soy egresado de la Universidad Veracruzana, apasionado por
          crear soluciones tecnológicas que marquen la diferencia. Tengo experiencia en diversas tecnologías y lenguajes
          de programación, y me dedico a construir aplicaciones eficientes, seguras y fáciles de mantener.
        </p>
        <p>
          Mi objetivo
          es
          combinar habilidades técnicas y blandas con una comprensión profunda de las necesidades del usuario para
          ofrecer
          productos de alta calidad. Siempre estoy en busca de nuevos desafíos que me permitan crecer profesionalmente y
          aportar valor a los proyectos en los que participo.
        </p>
      </div>
      <div class="am-img">
        <img src="/images/developer.svg" />
      </div>
    </section>

    <section class="programming-languages">
      <div class="pl-description">
        <h2>Lenguajes de programación</h2>
        <p>
          A lo largo de mi carrera, he trabajado con diversos lenguajes de programación, lo
          que
          me ha permitido adaptarme a distintos entornos y necesidades.
        </p>

        <p>
          Cada uno de estos lenguajes me ha ayudado a
          resolver problemas específicos de manera eficiente y a desarrollar soluciones robustas, fáciles de mantener y
          orientadas
          a objetivos reales.
        </p>

      </div>

      <ul class="pl-language-list">
        <li>
          <img src="/images/python-original.svg" class="language-icon">
          <span class="t-emphasis fw-bold">Python</span>
        </li>
        <li>
          <img src="/images/java-original.svg" class="language-icon">
          <span class="t-emphasis fw-bold">Java</span>
        </li>
        <li>
          <img src="/images/cplusplus-original.svg" class="language-icon">
          <span class="t-emphasis fw-bold">C++</span>
        </li>
        <li>
          <img src="/images/c-original.svg" class="language-icon">
          <span class="t-emphasis fw-bold">C</span>
        </li>
        <li>
          <img src="/images/csharp-original.svg" class="language-icon">
          <span class="t-emphasis fw-bold">C#</span>
        </li>
        <li>
          <img src="/images/javascript-original.svg" class="language-icon">
          <span class="t-emphasis fw-bold">JS</span>
        </li>
      </ul>
    </section>

    <section class="frameworks card">


      <ul class="fm-list">
        <li>
          <img src="/images/angular-original.svg" class="fm-icon">
          <span class="t-emphasis fw-bold">Angular</span>
        </li>
        <li class="language-icon">
          <img src="/images/react-original.svg" class="fm-icon">
          <span class="t-emphasis fw-bold">React</span>
        </li>
        <li>
          <img src="/images/blazor-original.svg" class="fm-icon">
          <span class="t-emphasis fw-bold">Blazor</span>
        </li>
        <li>
          <img src="/images/nodejs-original.svg" class="fm-icon">
          <span class="t-emphasis fw-bold">NodeJS</span>
        </li>
        <li>
          <img src="/images/dotnetcore-original.svg" class="fm-icon">
          <span class="t-emphasis fw-bold">ASP.NET</span>
        </li>

      </ul>

      <div class="fm-description">
        <h2>Frameworks</h2>
        <p>
          El dominio de distintos frameworks me ha permitido acelerar el desarrollo, mantener buenas prácticas y
          construir aplicaciones escalables.

        </p>

        <p>

          Uso cada herramienta de forma estratégica, eligiendo la que
          mejor se adapta al tipo de proyecto y a los objetivos técnicos y funcionales.
        </p>
      </div>
    </section>

    <section class="experience">
      <div class="exp-description">
        <h2>Acerca de mi experiencia</h2>
        <p>
          He trabajado en el diseño y desarrollo de aplicaciones con diferentes estilos y patrones arquitectónicos como
          arquitecturas en capas y REST, cuidando siempre la claridad y la facilidad de mantenimiento del código.
        </p>
        <p>
          En cada proyecto aplico buenas prácticas y diferentes principios como la separación de
          responsabilidades, inyección de dependencias, SOLID, DRY, KISS, documentación técnica y el uso de patrones de
          diseño. Tengo
          experiencia modelando el dominio y tomando decisiones
          justificadas que responden a necesidades concretas del negocio.
        </p>

        <p>
          He trabajado con metodologías como ICONIX, FDD, Scrum, XP y en
          Cascada, lo que me ha permitido adaptarme a distintos equipos y contextos, manteniendo siempre el enfoque en
          la calidad, la seguridad y la mejora continua.

        </p>
      </div>

      <div class="exp-items">
        <ul>
          <li>
            <div class="exp-card card">
              <div class="ec-title">
                <div class="ec-business-img">
                  <img src="/images/bigleaper.png">
                </div>
                <div class="ect-info">
                  <span class="fs-base t-emphasis">Fairwind Group — BigLeaper</span>
                  <span class="fs-base">Backend Developer</span>
                  <span class="fs-sm t-muted">ago. 2023 — ene 2024 · 6 meses</span>
                </div>
              </div>
              <div class="ec-description">
                <p>Desarrollo de una API REST con AWS Amplify. Utlizando tecnologías como Lambda, S3, Cognito y MongoDB.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="my-projects">
      <h2>Mis proyectos...</h2>
      <ul>
        <li>
          <div class="mp-frame">
            <div class="mp-img">

            </div>
            <span class="fs-lg t-emphasis">Agenda de citas</span>
          </div>
        </li>

        <li>
          <div class="mp-frame">
            <div class="mp-img">

            </div>
            <span class="fs-lg t-emphasis">UVGram</span>
          </div>
        </li>

        <li>
          <div class="mp-frame">
            <div class="mp-img">

            </div>
            <span class="fs-lg t-emphasis">Diidxaza</span>
          </div>
        </li>

        <li>
          <div class="mp-frame">
            <div class="mp-img">

            </div>
            <span class="fs-lg t-emphasis">Practicas profesionales</span>
          </div>
        </li>

        <li>
          <div class="mp-frame">
            <div class="mp-img">

            </div>
            <span class="fs-lg t-emphasis">Evaluación automatizada</span>
          </div>
        </li>

        <li>
          <div class="mp-frame">
            <div class="mp-img">

            </div>
            <span class="fs-lg t-emphasis">Sistema Basta</span>
          </div>
        </li>

      </ul>
    </section>




    <section class="aspirations">

      <div class="as-description">
        <h2>Mis aspiraciones</h2>
        <p>
          Me interesa seguir creciendo como profesional en diversas áreas de la Ingenieria de Software.
          Me motiva trabajar en proyectos donde pueda aplicar buenas prácticas, tomar
          decisiones técnicas justificadas y construir soluciones robustas, escalables y seguras.
        </p>

        <p>
          A largo plazo, me gustaría participar en la toma de decisiones de diseño de sistemas complejos, contribuir a
          la
          definición de estándares de desarrollo dentro de un equipo, y seguir aprendiendo de otros profesionales que
          compartan el compromiso por hacer buen software.
        </p>
      </div>

      <div class="as-roles">
        <span class="t-emphasis fs-lg fw-bold">Roles de interés</span>
        <ul>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">engineering</mat-icon>
              <span>
                Software Engineer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">

              <mat-icon class="as-icon">design_services</mat-icon>
              <span>
                Backend Developer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">web</mat-icon>
              <span>
                Frontend Developer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">desktop_mac</mat-icon>
              <span>
                Fullstack Developer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">terminal</mat-icon>
              <span>
                DevOps Engineer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">architecture</mat-icon>
              <span>
                Software Architect
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">app_blocking</mat-icon>
              <span>
                Application Security Engineer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">
              <mat-icon class="as-icon">domain_verification</mat-icon>
              <span>
                Quality Assurance
              </span>
            </div>
          </li>

          <li>
            <div class="as-role">

              <mat-icon class="as-icon">assured_workload</mat-icon>
              <span>
                Site Reliability Engineer (SRE)
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">

              <mat-icon class="as-icon">settings_applications</mat-icon>
              <span>
                System Integration Engineer
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">

              <mat-icon class="as-icon">diversity_3</mat-icon>
              <span>
                Project Manager
              </span>
            </div>
          </li>
          <li>
            <div class="as-role">

              <mat-icon class="as-icon">security_key</mat-icon>
              <span>
                Security Engineer
              </span>
            </div>
          </li>

          <li>
            <div class="as-role">
              <mat-icon class="as-icon">bug_report</mat-icon>
              <span>
                Tester
              </span>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="knowledge-and-learning">

      <div class="kal-learning">
        <h2>Recorrido educativo</h2>
        <ul>
          <li>
            <div class="kal-item">
              <div class="kali-img">
              </div>
              <span class="fs-base t-emphasis fw-bold t-center">Universidad Veracruzana</span>
              <p> Es una institución pública de educación superior ubicada en el estado de Veracruz, México.
                Reconocida por su calidad académica y su compromiso con la formación integral de sus estudiantes, la
                UV ofrece una amplia variedad de programas educativos en diversas áreas del conocimiento. Además, se
                distingue por su enfoque en la investigación, la vinculación con la sociedad y su labor de difusión
                cultural.
              </p>

            </div>
          </li>
          <li>
            <div class="kal-item">
              <div class="kali-img">
              </div>
              <span class="fs-base t-emphasis fw-bold t-center">Cisco Networking Academy</span>
              <p>Es una plataforma educativa global que ofrece una variedad de cursos en redes y tecnologías de la
                información. A través de contenidos interactivos, simulaciones y ejercicios prácticos, me permitió
                desarrollar habilidades fundamentales en áreas como redes y ciberseguridad. Gracias a estos cursos,
                pude
                adquirir una comprensión más profunda de los principios de las redes y aplicarlos en situaciones
                reales,
                mejorando mis conocimientos en el diseño, implementación y mantenimiento de infraestructuras de red
                seguras y eficientes.</p>
            </div>
          </li>
          <li>
            <div class="kal-item">
              <div class="kali-img">
              </div>
              <span class="fs-base t-emphasis fw-bold t-center">TryHackme</span>
              <p>Es una plataforma interactiva de aprendizaje en ciberseguridad que utilicé para desarrollar y
                fortalecer
                mis habilidades en hacking ético, análisis de vulnerabilidades y pruebas de penetración. A través de
                entornos virtuales seguros y laboratorios prácticos, pude aplicar conocimientos teóricos en escenarios
                reales, abordando temas como redes, sistemas operativos, criptografía, y más.</p>
            </div>
          </li>
        </ul>
      </div>


      <div class="kal-books-read">
        <h3>Libros</h3>
        <p>Esta sección muestra una selección de los libros que he leído para fortalecer mis conocimientos.
          Cada título refleja mi compromiso con el aprendizaje autodidacta y mi interés en construir soluciones bien
          fundamentadas y mantenibles.</p>
        <div class="kal-books-table">
          <div class="kb-table-title">
            <span class="t-emphasis fw-bold">Libros</span>
          </div>
          <div class="kb-table-body">
            <ul class="books-grid">
              <li class="book-item">
                <a href="https://www.omg.org/spec/OCL/2.4/About-OCL">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Object Constraint Language V2.4 (OCL)</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://refactoring.guru/design-patterns/book">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Dive into Design Patterns</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/Uml-Components-Specifying-Component-Based-Software/dp/0201708515">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">UML Components</span>
                </a>
              </li>

              <li class="book-item">
                <a
                  href="https://www.amazon.com/Fundamentals-Software-Architecture-Comprehensive-Characteristics/dp/1492043451">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Fundamentals of Software Architecture: An engineering
                    approach</span>
                </a>
              </li>


              <li class="book-item">
                <a href="https://www.amazon.com.mx/fundamentos-seguridad-en-redes-stallings/dp/8420540021">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Network Security Fundamentals: Applications And Standards</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/How-Linux-Works-Brian-Ward/dp/1718500408">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">How Linux Works, 3rd Edition: What Every Superuser Should Know</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/Linux-Basics-Hackers-Networking-Scripting/dp/1593278551">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Linux Basics For Hackers: Getting Started With Networking, Scripting, And Security
                    in Kali</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Software-Architecture-Practice-3rd-Engineering/dp/0321815734">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Software Architecture In Practice (3rd ed.)</span>
                </a>
              </li>


              <li class="book-item">
                <a href="https://www.amazon.com.mx/Software-Architecture-in-Practice/dp/0136886094">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Software Architecture In Practice (4th ed.)</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/-/es/DevOps-Web-Development-Mitesh-Soni/dp/1786465701">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">DevOps for Web Development</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Software-Engineering-Practitioners-Approach-Pressman/dp/0071184589">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Software Engineering: A Practictioner's Approach</span>
                </a>
              </li>

              <li class="book-item">
                <a
                  href="https://owasp.org/www-project-web-security-testing-guide/assets/archive/OWASP_Testing_Guide_v3.pdf">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">OWASP Testing Guide v3.0</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/Designing-Software-Architectures-Practical-Approach/dp/0134390784">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Designing Software Architectures: A Practical Approach</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://nostarch.com/tlcl2">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">The Linux Command Line: A Complete Introduction</span>
                </a>
              </li>


              <li class="book-item">
                <a href="https://www.amazon.com/-/es/PC-Assembly-Language-Paul-Carter/dp/B005D30B3K">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">PC Assembly Language</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://openaccess.uoc.edu/handle/10609/60686">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Data Administration</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/Dont-Make-Think-Revisited-Usability/dp/0321965515">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Don't Make Me Think</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.uoc.edu/">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">The Kernel — Jorba Esteve</span>
                </a>
              </li>

              <li class="book-item">
                <a
                  href="chrome-extension://gfbliohnnapiefjpjlpjnehglfpaknnc/pages/pdf_viewer.html?file=https://owasp.org/www-project-web-security-testing-guide/assets/archive/OWASP_Testing_Guide_v4.pdf">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">OWASP Testing Guide v4.0</span>
                </a>
              </li>

              <li class="book-item">
                <a href="http://amazon.com/Building-Microservices-Designing-Fine-Grained-Systems/dp/1491950358">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Building Microservices: Designing Fine-grained Systems</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.uoc.edu/">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Assambly Programming (x86-64)</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/Mastering-Oauth-2-0-Charles-Bihis/dp/1784395404">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Mastering OAuth 2.0</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com.mx/Tcp-Guide-Comprehensive-Illustrated-Protocols/dp/159327047X">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">The TCP/IP Guide: A comprehensive, Illustrated Internet Protocols Reference</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Continuous-Delivery-Deployment-Automation-Addison-Wesley/dp/0321601912">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Continuous Delivery: Reliable Software Releases Through Build, Test And Deployment
                    Automation</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/-/es/Hacking-Exposed-Network-Security-Solutions/dp/0072121270">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Hacking Exposed: Network Security Secrets & Solutions</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/-/es/Linux-Cookbook-Essential-Network-Administrators/dp/1492087165">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">The Linux Cookbook</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Hacking-Art-Exploitation-Jon-Erickson/dp/1593271441">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Hacking: The Art of Exploitation</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/-/es/Modern-Operating-Systems-Andrew-Tanenbaum/dp/0136006639">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Modern Operating Systems</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Social-Engineering-Science-Human-Hacking/dp/111943338X">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Social Engineering: The Science of Human Hacking</span>
                </a>
              </li>

              <li class="book-item">
                <a
                  href="https://www.amazon.com/Microsoft%C2%AE-Application-Architecture-Patterns-Practices/dp/073562710X">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Microsoft Application Architecture Guide</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://refactoring.guru/es/refactoring/course">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Dive Into Refactoring</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Computer-Networks-4th-Andrew-Tanenbaum/dp/0130661023">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Computer Networks</span>
                </a>
              </li>

              <li class="book-item">
                <a href="https://www.amazon.com/Attacking-Network-Protocols-Analysis-Exploitation/dp/1593277504">
                  <mat-icon class="book-img">book_4</mat-icon>
                  <span class="fs-sm">Attacking Network Protocols: A hacker's Guide To Capture, Analysis, And
                    Exploitation</span>
                </a>
              </li>

            </ul>
          </div>
        </div>


      </div>



    </section>

    <section class="certs-and-badges">
      <div>
        <h3>Plataformas técnicas</h3>

        <img src="https://tryhackme-badges.s3.amazonaws.com/adrianc68.png" alt="Your Image Badge" />

      </div>
    </section>
  </div>
</div>
