@use '../mixins' as mixins;
@use '../breakpoints' as breakpoints;
@use '../variables' as variables;

.card {
  border: 1px;
  border-color: variables.$border;
  border-style: solid;
  border-radius: 5px;
  box-shadow: variables.$shadow-sm;
  background-color: variables.$bg;
}
