:root {
  --cal-bg-emphasis: #e5e7eb;
  --cal-bg: #fff;
  --cal-bg-subtle: #eeeff2;
  --cal-bg-muted: #f6f7f9;
  --cal-bg-inverted: #070a0d;
  --cal-bg-primary: #1d2735;
  --cal-bg-primary-emphasis: #3c3e44;
  --cal-bg-primary-muted: #eeeff2;
  --cal-bg-brand: #1d2735;
  --cal-bg-brand-emphasis: #3c3e44;
  --cal-bg-brand-muted: #eeeff2;
  --cal-bg-semantic-info-subtle: #f1f7fe;
  --cal-bg-semantic-info-emphasis: #0d1473;
  --cal-bg-semantic-success-subtle: #e4f7f3;
  --cal-bg-semantic-success-emphasis: #19a974;
  --cal-bg-semantic-attention-subtle: #ffedd6;
  --cal-bg-semantic-attention-emphasis: #9b3412;
  --cal-bg-semantic-error-subtle: #fee1e1;
  --cal-bg-semantic-error-emphasis: #641717;
  --cal-bg-visualization-1-subtle: #fce8f4;
  --cal-bg-visualization-1-emphasis: #ec4699;
  --cal-bg-visualization-2-subtle: #dfd4fc;
  --cal-bg-visualization-2-emphasis: #6634ef;
  --cal-bg-visualization-3-subtle: #d4e3fc;
  --cal-bg-visualization-3-emphasis: #4252ff;
  --cal-bg-visualization-4-subtle: #e4f7f3;
  --cal-bg-visualization-4-emphasis: #19a974;
  --cal-bg-visualization-5-subtle: #fef9c3;
  --cal-bg-visualization-5-emphasis: #e7b008;
  --cal-bg-visualization-6-subtle: #ffedd6;
  --cal-bg-visualization-6-emphasis: #f97415;
  --cal-bg-visualization-7-subtle: #fec8c8;
  --cal-bg-visualization-7-emphasis: #ef4343;
  --cal-bg-info: #dde7fd;
  --cal-bg-success: #e4fbed;
  --cal-bg-attention: Inter6;
  --cal-bg-error: #f9e3e1;
  --cal-bg-dark-error: #772522;
  --cal-border-emphasis: #9ca3b0;
  --cal-border: #d1d5db;
  --cal-border-subtle: #e5e7eb;
  --cal-border-muted: #eeeff2;
  --cal-border-error: #fec8c8;
  --cal-border-semantic-error: #fec8c8;
  --cal-border-booker: var(--cal-border-subtle);
  --cal-text-emphasis: #070a0d;
  --cal-text: #3c3e44;
  --cal-text-subtle: #6b7280;
  --cal-text-muted: #9ca3b0;
  --cal-text-inverted: #fff;
  --cal-text-semantic-info: #0d1473;
  --cal-text-semantic-success: #096738;
  --cal-text-semantic-attention: #9b3412;
  --cal-text-semantic-error: #641717;
  --cal-text-visualization-1: #720d3c;
  --cal-text-visualization-2: #40067a;
  --cal-text-visualization-3: #06327a;
  --cal-text-visualization-4: #126d34;
  --cal-text-visualization-5: #7b5d04;
  --cal-text-visualization-6: #7c3403;
  --cal-text-visualization-7: #750a0a;
  --cal-border-semantic-attention-subtle: #fed6a9;
  --cal-border-semantic-error-subtle: #fec8c8;
  --cal-text-info: #243c84;
  --cal-text-success: #285239;
  --cal-text-attention: #74331b;
  --cal-text-error: #dc3545;
  // --cal-text-error: #811d1d;
  --cal-brand: #111827;
  --cal-brand-emphasis: #0f0f0f;
  --cal-brand-text: #fff
}


[data-theme="dark"] {
  --cal-bg-emphasis: #404040;
  --cal-bg: #0f0f0f;
  --cal-bg-subtle: #262626;
  --cal-bg-muted: #171717;
  --cal-bg-inverted: #fafafa;
  --cal-bg-primary: #f5f5f5;
  --cal-bg-primary-emphasis: #a3a3a3;
  --cal-bg-primary-muted: #262626;
  --cal-bg-brand: #fafafa;
  --cal-bg-brand-emphasis: #f5f5f5;
  --cal-bg-brand-muted: #f5f5f5;
  --cal-bg-semantic-info-subtle: #040625;
  --cal-bg-semantic-info-emphasis: #8197f8;
  --cal-bg-semantic-success-subtle: #054d26;
  --cal-bg-semantic-success-emphasis: #19a974;
  --cal-bg-semantic-attention-subtle: #260f03;
  --cal-bg-semantic-attention-emphasis: #fb923c;
  --cal-bg-semantic-error-subtle: #230606;
  --cal-bg-semantic-error-emphasis: #f87272;
  --cal-bg-visualization-1-subtle: #9b174c;
  --cal-bg-visualization-1-emphasis: #ec4699;
  --cal-bg-visualization-2-subtle: #1d0a6b;
  --cal-bg-visualization-2-emphasis: #6634ef;
  --cal-bg-visualization-3-subtle: #17209b;
  --cal-bg-visualization-3-emphasis: #4252ff;
  --cal-bg-visualization-4-subtle: #096738;
  --cal-bg-visualization-4-emphasis: #19a974;
  --cal-bg-visualization-5-subtle: #733f12;
  --cal-bg-visualization-5-emphasis: #e7b008;
  --cal-bg-visualization-6-subtle: #67250f;
  --cal-bg-visualization-6-emphasis: #f97415;
  --cal-bg-visualization-7-subtle: #981b1b;
  --cal-bg-visualization-7-emphasis: #ef4343;
  --cal-bg-info: #253883;
  --cal-bg-success: #285231;
  --cal-bg-attention: #74331b;
  --cal-bg-error: #772522;
  --cal-bg-dark-error: #772522;
  --cal-border: #4d4d4d;
  --cal-border-muted: #171717;
  --cal-border-subtle: #262626;
  --cal-border-emphasis: #737373;
  --cal-border-booker: var(--cal-border-subtle);
  --cal-border-semantic-error: #641717;
  --cal-border-semantic-attention-subtle: #67250f;
  --cal-border-semantic-error-subtle: #641717;
  --cal-border-error: #641717;
  --cal-text-emphasis: #fafafa;
  --cal-text: #d4d4d4;
  --cal-text-subtle: #a3a3a3;
  --cal-text-muted: #a3a3a3;
  --cal-text-inverted: #000;
  --cal-text-semantic-info: #8197f8;
  --cal-text-semantic-success: #50c39f;
  --cal-text-semantic-attention: #fb923c;
  --cal-text-semantic-error: #f87272;
  --cal-text-semantic-info-emphasis: #06327a;
  --cal-text-semantic-success-emphasis: #126d34;
  --cal-text-semantic-attention-emphasis: #7c3403;
  --cal-text-semantic-error-emphasis: #750a0a;
  --cal-text-info: #dee9fc;
  --cal-text-success: #e4fbe9;
  --cal-text-attention: #fcefd9;
  // --cal-text-error: #f9e3e1;
  --cal-text-error: #dc3545;
  --cal-brand: #fff;
  --cal-brand-emphasis: #9ca3b0;
  --cal-brand-text: #000
}


// Colors
$bg-emphasis: var(--cal-bg-emphasis);
$bg: var(--cal-bg);
$bg-subtle: var(--cal-bg-subtle);
$bg-muted: var(--cal-bg-muted);
$bg-inverted: var(--cal-bg-inverted);
$bg-primary: var(--cal-bg-primary);
$bg-primary-emphasis: var(--cal-bg-primary-emphasis);
$bg-primary-muted: var(--cal-bg-primary-muted);
$bg-brand: var(--cal-bg-brand);
$bg-brand-emphasis: var(--cal-bg-brand-emphasis);
$bg-brand-muted: var(--cal-bg-brand-muted);
$bg-semantic-info-subtle: var(--cal-bg-semantic-info-subtle);
$bg-semantic-info-emphasis: var(--cal-bg-semantic-info-emphasis);
$bg-semantic-success-subtle: var(--cal-bg-semantic-success-subtle);
$bg-semantic-success-emphasis: var(--cal-bg-semantic-success-emphasis);
$bg-semantic-attention-subtle: var(--cal-bg-semantic-attention-subtle);
$bg-semantic-attention-emphasis: var(--cal-bg-semantic-attention-emphasis);
$bg-semantic-error-subtle: var(--cal-bg-semantic-error-subtle);
$bg-semantic-error-emphasis: var(--cal-bg-semantic-error-emphasis);
$bg-visualization-1-subtle: var(--cal-bg-visualization-1-subtle);
$bg-visualization-1-emphasis: var(--cal-bg-visualization-1-emphasis);
$bg-visualization-2-subtle: var(--cal-bg-visualization-2-subtle);
$bg-visualization-2-emphasis: var(--cal-bg-visualization-2-emphasis);
$bg-visualization-3-subtle: var(--cal-bg-visualization-3-subtle);
$bg-visualization-3-emphasis: var(--cal-bg-visualization-3-emphasis);
$bg-visualization-4-subtle: var(--cal-bg-visualization-4-subtle);
$bg-visualization-4-emphasis: var(--cal-bg-visualization-4-emphasis);
$bg-visualization-5-subtle: var(--cal-bg-visualization-5-subtle);
$bg-visualization-5-emphasis: var(--cal-bg-visualization-5-emphasis);
$bg-visualization-6-subtle: var(--cal-bg-visualization-6-subtle);
$bg-visualization-6-emphasis: var(--cal-bg-visualization-6-emphasis);
$bg-visualization-7-subtle: var(--cal-bg-visualization-7-subtle);
$bg-visualization-7-emphasis: var(--cal-bg-visualization-7-emphasis);
$bg-info: var(--cal-bg-info);
$bg-success: var(--cal-bg-success);
$bg-attention: var(--cal-bg-attention);
$bg-error: var(--cal-bg-error);
$bg-dark-error: var(--cal-bg-dark-error);
$border: var(--cal-border);
$border-muted: var(--cal-border-muted);
$border-subtle: var(--cal-border-subtle);
$border-emphasis: var(--cal-border-emphasis);
$border-booker: var(--cal-border-booker);
$border-semantic-error: var(--cal-border-semantic-error);
$border-semantic-attention-subtle: var(--cal-border-semantic-attention-subtle);
$border-semantic-error-subtle: var(--cal-border-semantic-error-subtle);
$border-error: var(--cal-border-error);
$text-emphasis: var(--cal-text-emphasis);
$text: var(--cal-text);
$text-subtle: var(--cal-text-subtle);
$text-muted: var(--cal-text-muted);
$text-inverted: var(--cal-text-inverted);
$text-semantic-info: var(--cal-text-semantic-info);
$text-semantic-success: var(--cal-text-semantic-success);
$text-semantic-attention: var(--cal-text-semantic-attention);
$text-semantic-error: var(--cal-text-semantic-error);
$text-semantic-inf-emphasis: var(--cal-text-semantic-info-emphasis);
$text-semantic-success-emphasis: var(--cal-text-semantic-success-emphasis);
$text-semantic-attention-emphasis: var(--cal-text-semantic-attention-emphasis);
$text-semantic-error-emphasis: var(--cal-text-semantic-error-emphasis);
$text-info: var(--cal-text-info);
$text-success: var(--cal-text-success);
$text-attention: var(--cal-text-attention);
$text-error: var(--cal-text-error);
$brand: var(--cal-brand);
$brand-emphasis: var(--cal-brand-emphasis);
$brand-text: var(--cal-brand-text);

// Fonts
// $font-family-primary: 'Roboto', sans-serif;
$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

// Font size
$font-size-xs: 0.7rem;
$font-size-sm: 0.9rem;
$font-size-base: 1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;

// Font weigths
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Line heights
$line-height-base: 1.5;
$line-height-heading: 1.2;

// Spacings
$spacing-unit: 8px;
$spacing-base: $spacing-unit * 1;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 4;

// Padding
$padding-none: 0; // No padding
$padding-xs: $spacing-unit * 0.5; // 4px
$padding-sm: $spacing-unit * 1; // 8px
$padding-md: $spacing-unit * 2; // 16px
$padding-lg: $spacing-unit * 3; // 24px
$padding-xl: $spacing-unit * 4; // 32px
$padding-xxl: $spacing-unit * 6; // 48px

// Border radius
$border-radius-none: 0;
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-pill: 9999px;
$border-radius-circle: 50%;

// Z-Index
$z-index-base-items: 50;
$z-index-low: 100;
$z-index-medium: 200;
$z-index-high: 300;
$z-index-top: 400;

// Containers
$container-xs: 480px;
$container-sm: 576px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

// Button height sizes
$buttons-size-sm: 40px;
$button-size-base: 44px;
$button-size-md: 46px;
$button-size-lg: 48px;

$navbar-height: 62px;

// Shadow base
$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.15);

// Shadow hover
$shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
