<footer class="footer-container">
  <div class="footer-cont">

    <div class="footer-content">
      <div class="footer-section">
        <h3>Contacto</h3>
        <p><mat-icon>email</mat-icon> contacto&#64;angeladrian.dev</p>
        <p><mat-icon>phone</mat-icon> +52 *** *******</p>
        <p><mat-icon>location_on</mat-icon> Xalapa, Veracruz</p>
      </div>

      <div class="footer-section">
        <h3>Enlaces</h3>
        <p><a href="/">Inicio</a></p>
        <p><a href="/projects">Proyectos</a></p>
        <p><a href="/contact">Contacto</a></p>
      </div>

      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <p>
          <a href="https://github.com/adrianc68" target="_blank">
            GitHub
          </a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/%C3%A1ngel-adri%C3%A1n-camal-garc%C3%ADa-4058231a3/" target="_blank">
            LinkedIn</a>
        </p>
      </div>
    </div>

    <div class="footer-bottom">
      <span class="fs-sm t-inverted">&copy; 2025 Ángel Adrián — Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
