@use '../../styles/variables.scss' as variables;

.footer {
  background-color: variables.$bg;
  padding: variables.$padding-md;
  text-align: center;
  color: variables.$text;
  font-size: variables.$font-size-sm;
  border-top: 1px solid variables.$border;
}
